<section class="bg-section">
    <div class="container-fluid mt-3">
        <div class="row gy-4 justify-content-evenly">  
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/1690750080237.jpeg" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                           
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2" >
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/JavaPolo.webp" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2" >
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/Perruqueria.webp" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2" >
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/AP.webp" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2" >
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/Encriptador.webp" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2" >
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/ElAnzuelo.webp" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2" >
                <div class="card bg-dark mb-2">
                    <img src="../../../assets/images/proyectos/Circus.webp"  class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>