<section class="bg-section">
    <div class="container-fluid mt-3">
        <div class="row gy-4 justify-content-evenly">

            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/GardeningFriend.webp" class="card-img-top"
                            alt="Proyecto Gardening Friend">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gardening Friend
                        </h5>
                        <p class="card-text">
                            Aplicación informativa relacionada a la horticultura para Android.
                        </p>
                        <p class="card-text">Funciona tanto como una biblioteca abarcando gran conocimiento relacionado
                            a esta área, como así provista de recomendaciones de cómo explotar al máximo la actividad de
                            realizar una huerta en casa, cuidados y ayudas diarias.
                        </p>
                        <p class="card-text mt-4">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/android.svg"
                                    alt="Java">
                                <p>Android</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/firebase.svg"
                                    alt="Firebase">
                                <p>Firebase</p>
                            </div>

                        </div>
                        <div class="container-links">
                            <div class="item-link">
                                <a href="https://github.com/GardeningFriendTeam/GardeningFriendApp" target="_blank">
                                    <span>
                                        <i class="bi bi-github"></i>
                                        Github
                                    </span>
                                </a>
                            </div>
                            >
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/AmazingCars.webp" class="card-img-top"
                            alt="Proyecto Amazing Cars">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amazing Cars
                        </h5>
                        <p class="card-text">
                            Plataforma web para una concesionaria con un sistema de inicio de sesión para
                            administradores y un completo panel de administración de vehículos.
                        </p>
                        <p class="card-text">
                            Uno de nuestros mayores logros fue la exitosa implementación de operaciones CRUD,
                            permitiendo a los administradores gestionar vehículos, marcas y tipos de vehículos de manera
                            eficiente.
                        </p>
                        <p class="card-text mt-4">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/html.svg" alt="HTML">
                                <p>HTML</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/css.svg" alt="CSS">
                                <p>CSS</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/bootstrap.svg" alt="Bootstrap">
                                <p>Bootstrap</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/thymeleaf.svg" alt="Thymeleaf">
                                <p>Thymeleaf</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/spring.svg"
                                    alt="Java">
                                <p>Spring Boot</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mariadb.svg"
                                    alt="MariaDB">
                                <p>MariaDB</p>
                            </div>

                        </div>
                        <div class="container-links">
                            <div class="item-link">
                                <a href="https://github.com/mariquenaallosa/proyectoFinal-poloTIC" target="_blank">
                                    <span>
                                        <i class="bi bi-github"></i>
                                        Github
                                    </span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/Perruqueria.webp" class="card-img-top"
                            alt="Proyecto Perruqueria">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Perruqueria
                        </h5>
                        <p class="card-text">
                            Aplicación de escritorio con la capacidad
                            de registrar, en una base de datos, los datos tanto de mascotas como de dueños que se
                            ingresa desde una interfaz gráfica de usuario.
                        </p>
                        
                        <p class="card-text mt-4">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mysql.svg"
                                    alt="MySQL">
                                <p>MySQL</p>
                            </div>

                        </div>
                        <div class="container-links">
                            <div class="item-link">
                                <a href="https://github.com/mariquenaallosa/PeluqueriaCanina" target="_blank">
                                    <span>
                                        <i class="bi bi-github"></i>
                                        Github
                                    </span>
                                </a>
                            </div>
                            >
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/CircusC.webp" class="card-img-top"
                            alt="Proyecto Circus 104.9">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9
                        </h5>
                        <p class="card-text">
                            Aplicación de escritorio con la capacidad
                            de registrar, en una base de datos, los datos tanto de mascotas como de dueños que se
                            ingresa desde una interfaz gráfica de usuario.
                        </p>
                        
                        <p class="card-text mt-4">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mysql.svg"
                                    alt="MySQL">
                                <p>MySQL</p>
                            </div>

                        </div>
                        <div class="container-links">
                            <div class="item-link">
                                <a href="https://github.com/mariquenaallosa/CAC-Integrador" target="_blank">
                                    <span>
                                        <i class="bi bi-github"></i>
                                        Github
                                    </span>
                                </a>
                                <a href="https://mariquenaallosa.github.io/CAC-Integrador/" target="_blank">
                                    <span>
                                        <i class="bi bi-box-arrow-up-right"></i>
                                        Visitar
                                    </span>
                                </a>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>












<!--             
            
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <img src="../../../assets/images/proyectos/Encriptador.webp" class="card-img-top"
                        alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>

                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <img src="../../../assets/images/proyectos/ElAnzuelo.webp" class="card-img-top"
                        alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>

                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">
                            Github
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            Visitar
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <img src="../../../assets/images/proyectos/Circus.webp" class="card-img-top" alt="Proyecto Circus">
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime in fugiat, tempore
                            cumque est? Impedit, dolorem repellendus eos explicabo nam ex voluptate voluptatum
                            perspiciatis autem perferendis quis? Placeat, voluptas?
                        </p>

                    </div>
                </div>
            </div> -->




        </div>
    </div>

</section>