section {
    padding:3em;
    min-height: calc(100vh - 40px);
}

.bg-section{
    background-color:#21252b;
}

.card, .card-footer {
    border: none;
    background-color: transparent;
}
.card-title{
    color: #f3f3f3;
    font-size: 1.3rem;
    font-weight: 500;

}
.card-text {
    color: #f3f3f3;
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: 300;
}

i{
    color: #f3f3f3;
    font-size: 0.9rem;
 }

.card-footer a {
    color: #f3f3f3;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    margin-right: 2em;
 }



