section {
    padding:30px;
    height: calc(100vh - 40px);
}

.bg-section{
    background-color:#21252b;
}
.section-name{
    font-size:1.4rem;
    font-weight:500;
}
.container-proyectos{
    display:flex;
    justify-content: space-between;
}
.nuevoproyecto:hover{
    transform: translate(3px,1px);
    -webkit-transform: translate(3px,1px);
    -moz-transform: translate(3px,1px);
    -ms-transform: translate(3px,1px);
    -o-transform: translate(3px,1px);
}
.container-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
}
.proyect-card{
    width: 250px;
    height: 450px;
    margin:10px;
    display: flex;
    flex-direction: column;
}
.proyect-card:hover{
    transform: translate(5px,5px);
}
.img-proyect{
    padding: 2px;
    width: 230px;
    height:230px;
    object-fit: cover;
    box-shadow: 1px 2px 3px 1px  #999;
    border-radius:  3px;
    -webkit-border-radius:  3px;
    -moz-border-radius:  3px;
    -ms-border-radius:  3px;
    -o-border-radius:  3px;
}

.redondo{
    display: block;
    margin-top:-25px;
    padding:3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    background-color: #3e5f68;
}
.redondo:hover{
    background-color: #141b1d;
}
button img{
    width:100%
}
div {
    background-color: #fff;
    color: rgb(0, 0, 0);
}
h3{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    font-size: 0.9rem;
}

/* Modal */
.modal{
    background-color: transparent;
   
}
.modal-dialog{
    background-color:#3e5f68;
}

.modal-header{
	padding:6px 10px 2px 6px;
	background-color:#3e5f68;
	border:0px;
	height:50px;
}
.modal-header h4{
    font-size: 1rem;
    padding-top:10px;
    padding-left: 30px;
    color: #fff;
}
.modal-body{
    padding:30px 40px 20px 40px;

}
.modal-input{
	background-color:#fff;
	border:1px solid #3e5f68
}
.modal-footer{
	border-top:none;
	padding:20px 15px 10px 15px;
}
.form-group{
    margin:10px;
}
label{
    margin:5px;
}

button img{
    width:100%
}
.container-buttonIcon{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 15px;
    
}

.continer-button{
    margin:2px;
}
img.button-icon.edit{
    width:0.9rem;
}
img.button-icon.trash{
    filter:invert(100%);
    -webkit-filter:invert(100%);
    width: 0.68rem;
}

