<section class="bg-section">
    <div class="container-fluid mt-3">
        <div class="row gy-4 justify-content-evenly">

            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/GardeningFriend.webp" class="card-img-top"
                            alt="Proyecto Gardening Friend">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gardening Friend
                        </h5>
                        <p class="card-text">
                            Aplicación informativa relacionada a la horticultura para Android.
                        </p>
                        <p class="card-text">Funciona tanto como una biblioteca abarcando gran conocimiento relacionado
                            a esta área, como así provista de recomendaciones de cómo explotar al máximo la actividad de
                            realizar una huerta en casa, cuidados y ayudas diarias.
                        </p>

                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/android.svg"
                                    alt="Java">
                                <p>Android</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/firebase.svg"
                                    alt="Firebase">
                                <p>Firebase</p>
                            </div>

                        </div>
                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/GardeningFriendTeam/GardeningFriendApp" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/AmazingCars.webp" class="card-img-top"
                            alt="Proyecto Amazing Cars">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amazing Cars
                        </h5>
                        <p class="card-text">
                            Plataforma web para una concesionaria con un sistema de inicio y un completo panel de
                            administración de vehículos, marcas y tipo de vehículos.
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/bootstrap.svg"
                                    alt="Bootstrap">
                                <p>Bootstrap</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/thymeleaf.svg"
                                    alt="Thymeleaf">
                                <p>Thymeleaf</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/spring.svg"
                                    alt="Java">
                                <p>Spring Boot</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mariadb.svg"
                                    alt="MariaDB">
                                <p>MariaDB</p>
                            </div>

                        </div>
                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/proyectoFinal-poloTIC" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/Perruqueria.webp" class="card-img-top"
                            alt="Proyecto Perruqueria">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Perruqueria
                        </h5>
                        <p class="card-text">
                            Aplicación de escritorio para una peluquería canina que permite registrar de manera
                            eficiente y atractiva los datos de mascotas y sus dueños a través de una interfaz gráfica de
                            usuario.
                        </p>
                        <p class="card-text">
                            La aplicación se enfoca en el modelado de capas, asegurando una estructura organizada y
                            modular. Facilitando el mantenimiento y la evolución de la aplicación a medida que la peluquería canina crece y se adapta a las necesidades cambiantes.
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mysql.svg"
                                    alt="MySQL">
                                <p>MySQL</p>
                            </div>

                        </div>
                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/PeluqueriaCanina" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/CircusC.webp" class="card-img-top"
                            alt="Proyecto Circus 104.9">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Circus 104.9
                        </h5>
                        <p class="card-text">
                            Sitio web interactivo diseñado para brindar a los usuarios acceso rápido y fácil a
                            información relevante sobre la estación de radio Circus 104.9.
                        </p>
                        <p class="card-text">
                            Proporciona una visión completa de la estación, desde
                            detalles sobre la programación hasta información crucial para aquellos interesados en la
                            publicidad.
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/html.svg" alt="HTML">
                                <p>HTML</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/css.svg" alt="CSS">
                                <p>CSS</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/bootstrap.svg"
                                    alt="Bootstrap">
                                <p>Bootstrap</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/javascript.svg"
                                    alt="JavaScript">
                                <p>JavaScript</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/CAC-Integrador" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                            <a href="https://mariquenaallosa.github.io/CAC-Integrador/" target="_blank">
                                <span>
                                    <i class="bi bi-box-arrow-up-right"></i>
                                    Visitar
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/Property.webp" class="card-img-top"
                            alt="Proyecto Property">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Property
                        </h5>
                        <p class="card-text">
                            Durante mi participación en la Tecnicatura Superior en Desarrollo Web, integré el equipo
                            encargado de desarrollar el sitio institucional para la inmobiliaria "Property". Implementando diferentes niveles de usuarios, proporcionando accesos
                            personalizados.
                        </p>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/bootstrap.svg"
                                    alt="Bootstrap">
                                <p>Bootstrap</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/angular.svg"
                                    alt="Angular">
                                <p>Angular</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/python.svg"
                                    alt="Python">
                                <p>Python</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/djangoproject.svg"
                                    alt="Django">
                                <p>Django</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mysql.svg"
                                    alt="MySQL">
                                <p>MySQL</p>
                            </div>
                        </div>


                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/ProyectoISPC" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/Encriptador.webp" class="card-img-top"
                            alt="Proyecto Encriptador de Textos">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Encriptador de Textos
                        </h5>
                        <p class="card-text">
                            El desafio consistió en desarrollar un encriptador de textos como parte de mi capacitación
                            en Oracle Next Education, demostrando mi habilidad para aplicar los conocimientos adquiridos
                            en un proyecto concreto.
                            La pagina web encripta y desencripta texto que es ingresado por el usuario y lo presenta en
                            su forma encriptada o desencriptada.
                        </p>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/html.svg" alt="HTML">
                                <p>HTML</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/css.svg" alt="CSS">
                                <p>CSS</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/javascript.svg"
                                    alt="JavaScript">
                                <p>JavaScript</p>
                            </div>
                        </div>
                        

                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/ONE-Encriptador" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                            <a href="https://mariquenaallosa.github.io/ONE-Encriptador/" target="_blank">
                                <span>
                                    <i class="bi bi-box-arrow-up-right"></i>
                                    Visitar
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/ElAnzuelo.webp" class="card-img-top"
                            alt="Proyecto El Anzuelo">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">El Anzuelo
                        </h5>
                        <p class="card-text">
                            Desempeñé el papel de Scrum Master y desarrolladora en el proyecto de creación de un sitio
                            institucional para un portal de pesca, dentro del marco del Proyecto Integrador de la
                            Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales.
                        </p>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/html.svg" alt="HTML">
                                <p>HTML</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/css.svg" alt="CSS">
                                <p>CSS</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/bootstrap.svg"
                                    alt="Bootstrap">
                                <p>Bootstrap</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/javascript.svg"
                                    alt="JavaScript">
                                <p>JavaScript</p>
                            </div>
                        </div>
                        

                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/Proyecto-Fullstack-ISPC" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                            <a href="https://marcofcorrea.github.io/ProyectoFullstack" target="_blank">
                                <span>
                                    <i class="bi bi-box-arrow-up-right"></i>
                                    Visitar
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container-card col-xl-3 col-lg-4 col-md-6 mb-2">
                <div class="card mb-2">
                    <div class="container-img">
                        <img src="../../../assets/images/proyectos/AP.webp" class="card-img-top"
                            alt="Proyecto Portfolio Argentina Programa">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Portfolio Argentina Programa
                        </h5>
                        <p class="card-text">
                            Portfolio Web Fullstack realizado como Proyecto Final del curso Argentina Programa -
                            #YoProgramo.Se trata de la realización de una Single Page Application (SPA), teniendo la
                            primera versión en línea.
                            Incorporando inicio de sesión el cual permite al usuario modificar los datos disponibles en
                            el portfolio de manera rápida y sencilla.
                        </p>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Tecnologías
                        </p>
                        <div class="container-tech">
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/bootstrap.svg"
                                    alt="Bootstrap">
                                <p>Bootstrap</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/typescript.svg"
                                    alt="JavaScript">
                                <p>TypeScript</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/angular.svg"
                                    alt="Angular">
                                <p>Angular</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                                <p>Java</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/spring.svg"
                                    alt="Spring Boot">
                                <p>Spring Boot</p>
                            </div>
                            <div class="item-tech">
                                <img class="img-tech" src="../../../assets/images/proyectos/techs/mysql.svg"
                                    alt="MySQL">
                                <p>MySQL</p>
                            </div>
                        </div>


                    </div>
                    <div class="container-links">
                        <div class="item-link">
                            <a href="https://github.com/mariquenaallosa/portfolio-frontend" target="_blank">
                                <span>
                                    <i class="bi bi-github"></i>
                                    Github
                                </span>
                            </a>
                            <a href="https://mariquena-allosa.web.app/" target="_blank">
                                <span>
                                    <i class="bi bi-box-arrow-up-right"></i>
                                    Visitar
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</section>