<div class="row">
  <div class="col-lg-12 container-ed">
    <h2>Educación</h2>
  </div>
  <div class="col-lg-1"></div>
  <!-- Tarjetas con el contenido de la educación -->

  <div class="container">
    <div class="row">
      <div
        class="info-item card">
        <h3 class="card-header">educacion.tituloEd </h3>
        <div class="card-body">
              <h4 class="card-title">
                <em>educacion.institucion</em>
              </h4>
              <h5 class="card-subtitle mb-2 text-muted">
                educacion.fechaIngreso- educacion.fechaFinal
              </h5>
              <p class="card-text">educacion.descripcionEd</p>
        </div>
      </div>
    </div>
  </div>
</div>


