nav{
    display: block;
    top:0;
    left:0;
    width: 100%;
    height: 40px;
    position: sticky;
    background-color: #454951;
    padding: 0;
    box-shadow: none;
}

ul.container-items{
    display: block;
    color: #abb2bf;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li.item {
    display: inline-block;

        
    box-shadow: none;
}


li.item span a{
    cursor: pointer;
    display: inline-block;
    padding: 9.8px 15px;
    border-right: 1px solid #5C636E;
    text-align: -webkit-match-parent;
    font-size: 0.6rem;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-transform: lowercase; 
    text-decoration: none; 
    background-color: transparent;
    color: hsl(219, 13.5%, 63.9%);
}

li.item span a:hover{
    color: #f3f3f3;
}


span.item__cont-txt {
    margin-left: 0.5rem;
    font-size: 0.5rem;
}

i {
    font-size: 0.5rem;
}

i.bi-house-door-fill{
    font-size: 1em
}

.bi-x {
    vertical-align: middle;
    padding-left: 0.2rem;
}

.active-tab {
    background-color: #282c34;
    color: #f3f3f3;
}

.active-tab span.item__cont-txt,.active-tab .bi-house-door-fill{
    color: #f3f3f3;
}


