nav {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: rgb(69, 73, 81);
    padding: 0;
    box-shadow: none;
}

ul.container-items {
    display: block;
    color: #abb2bf;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li.item {
    display: inline-block;
    box-shadow: none;
    border-right: 2px solid #5C636E; 

}


li.item span a {
    cursor: pointer;
    display: inline-block;
    padding: 9.8px 10px;
    text-align: -webkit-match-parent;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-transform: lowercase;
    text-decoration: none;
    background-color: transparent;
    color: hsl(219, 13.5%, 63.9%);
}


li.item span a:hover {
    color: #f3f3f3;
}

li.item span a:hover:nth-child(2) {
    color: #f3f3f3;
    box-shadow: #abb2bf;
}


span.item__cont-txt {
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

i {
    font-size: 0.8rem;
}

i.bi-house-door-fill {
    font-size: 1.3em
}

.bi-x {
    border-radius: 60%;
    vertical-align: middle;
    text-align: center;
    padding-left: 0;
    transition: all .1s;
}

.bi-x:hover {
    background-color: rgba(171, 178, 191,0.7);
}
/* Active tab */
.active-tab {
    background-color: #21252b;
    color: #f3f3f3;
    border: none;
}

.active-tab span a:nth-child(2) {
    padding-left: 0;
}

.active-tab span.item__cont-txt,
.active-tab .bi-house-door-fill {
    color: #f3f3f3;
}

