.row {
    padding:30px;
}
hr{
    color: #3e5f68;
    padding: 2px;
}
.section{
    font-size:1.5rem;
    font-weight:400;
}
.container-exp{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.redondo{
    display: block;
    margin-top:-25px;
    padding:3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    background-color: #3e5f68;
}
.redondo:hover{
    background-color: #141b1d;
}
button img{
    width:100%
}

div {
    background-color: #fff;
    color: rgb(0, 0, 0);
}
h3, h4 {
    display:inline;
}
.modal{
    background-color: transparent;
   
}
.modal-dialog{
    background-color:#3e5f68;
}
.modal-header{
	padding:6px 10px 2px 6px;
	background-color:#3e5f68;
	border:0px;
	height:50px;
}
.modal-header h4{
    font-size: 1rem;
    padding-top:10px;
    padding-left: 30px;
    color: #fff;
}
.modal-body{
    padding:30px 40px 20px 40px;

}
.modal-input{
	background-color:#fff;
	border:1px solid #3e5f68
}
.modal-footer{
	border-top:none;
	padding:20px 15px 10px 15px;
}

.card {
    width: 100%;
    height: auto;
    padding:5px;
    margin:10px;
    margin-left: 0;
    margin-right: 0;
}
.card:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-header{
    color:#fff;
    background-color: #3e5f68;
}
.continer-button{
    width:0.8rem;
    height: 0.8rem;
    text-align: center;
}

img.button-icon.edit{
    width:0.9rem;
}
img.button-icon.trash{
    filter:invert(100%);
    -webkit-filter:invert(100%);
    width: 0.68rem;
}
.container-buttonIcon{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin-top: -25px;
    margin-left: -15px;
}