<div class = "home-container" tabindex="-1" style="outline: none;">
    <section class="home">
        <h1 class="home__nombre">Mariquena Allosa</h1>
        <p class="home__puesto">Desarrolladora Full Stack</p>
        <div class="home__redes">
            <div>
                <a class="home__redes-link" href="https://github.com/mariquenaallosa" aria-label="@mariquenaallosa"
                    title="@allosamariquena en Github" target="_blank" >
                    <span class="home__redes-icon">
                        <i class="bi bi-github"></i>
                        <span class="home__redes-txt"> @mariquenaallosa</span>
                    </span>
                </a>
            </div>
            <div>
                <a class="home__redes-link" href="https://www.linkedin.com/in/mariquenaallosa/" aria-label="Find me on Telegram"
                    title="Contactame a través de Linkedin" target="_blank" >
                    <span class="home__redes-icon">
                        <i class="bi bi-linkedin"></i>
                        <span class="home__redes-txt">Contactame</span>
                    </span>
                </a>
            </div>
        </div>

    </section>
</div>