<section class="bg-section">
    <div class="resumen_about d-flex">
        <div class="col-md-6 resumen_about-txt">
            <h2 class="resumen_title">Mariquena Allosa</h2>
            <h4 class="resumen_title-dev">Desarrolladora Full Stack</h4>
            <p class="resumen_description">¡Hola! Soy Mariquena, desarrolladora full stack con experiencia en tecnologías como HTML, CSS, Bootstrap, Angular, MySQL, Java, Spring Boot, JavaScript y herramientas como GitHub. Además, estoy familiarizada con metodologías ágiles como Scrum.
            </p>
            <p class="resumen_description">Comencé mi carrera como Realizadora Audiovisual, donde pude desarrollar habilidades de comunicación y trabajo en equipo. Sin embargo, en la actualidad, mi enfoque principal está en mi transición hacia el mundo de la programación. Estoy cursando la Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales en el Instituto Superior Politécnico Córdoba (ISPC), donde tengo la oportunidad de colaborar en equipo con mis compañeros en proyectos.</p>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center resumen-photo">   
                <img class="img-fluid resumen-photo__profile" src="../../../assets/images/resumen/profile.webp" alt="Foto Mariquena Allosa">   
        </div>

    </div>
    <div class="resumen_skills mt-4">
        <h3 class="resumen_title">Tecnologías</h3>
        <div class="container_skills">

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/html.svg" alt="HTML">
                </div>
                <p class="skills">
                    HTML
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/css.svg" alt="CSS">
                </div>
                <p class="skills">
                    CSS
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/bootstrap.svg" alt="Bootstrap">
                </div>
                <p class="skills">
                    Bootstrap
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/javascript.svg" alt="JavaScript">
                </div>
                <p class="skills">
                    JavaScript
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/typescript.svg" alt="TypeScript">
                </div>
                <p class="skills">
                    TypeScript
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/angular.svg" alt="Angular">
                </div>
                <p class="skills">
                    Angular
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/java.svg" alt="Java">
                </div>
                <p class="skills">
                    Java
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/thymeleaf.svg" alt="Thymeleaf">
                </div>
                <p class="skills">
                    Thymeleaf
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/spring.svg" alt="Spring">
                </div>
                <p class="skills">
                    Spring Boot
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/mysql.svg" alt="MySQL">
                </div>
                <p class="skills">
                    MySQL
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/mariadb.svg" alt="MariaDB">
                </div>
                <p class="skills">
                    MariaDB
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/python.svg" alt="Python">
                </div>
                <p class="skills">
                    Python
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/djangoproject.svg" alt="django">
                </div>
                <p class="skills">
                    Django
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/git.svg" alt="Git">
                </div>
                <p class="skills">
                    Git
                </p>
            </div>

            <div class="item_skills">
                <div class="img_skills">
                    <img src="../../../assets/images/proyectos/techs/github.svg" alt="GitHub">
                </div>
                <p class="skills">
                    GitHub
                </p>
            </div>


        </div>
    </div>
</section>
