section {
    padding:3em;
    min-height: calc(100vh - 40px);
    color: #f3f3f3;
}

.bg-section{
    background-color:#21252b;
}
.resumen_about-txt{
    padding-top: 3rem;
}
.resumen_title{
    font-size: 3.2rem;
}
.resumen_title-dev{
    font-size: 1.8rem;

}
.resumen_description{
    font-size: 1.4em;
    line-height: 1.6em;
}
.resumen-photo__profile {
    background-color: #21252b;
    padding: 3px;
    object-fit: cover;
    width:70%;
    border-radius: 100%;
    
}