<section class="bg-section">
    <div class="resumen_about d-flex">
        <div class="col-md-6 resumen_about-txt">
            <h2 class="resumen_title">Mariquena Allosa</h2>
            <h4 class="resumen_title-dev">Desarrolladora Full Stack</h4>
            <p class="resumen_description">¡Hola! Soy Mariquena, desarrolladora full stack con experiencia en tecnologías como HTML, CSS, Bootstrap, Angular, MySQL, Java, Spring Boot, JavaScript y herramientas como GitHub. Además, estoy familiarizada con metodologías ágiles como Scrum.
            </p>
            <p class="resumen_description">Comencé mi carrera como Realizadora Audiovisual, donde pude desarrollar habilidades de comunicación y trabajo en equipo. Sin embargo, en la actualidad, mi enfoque principal está en mi transición hacia el mundo de la programación. Estoy cursando la Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales en el Instituto Superior Politécnico Córdoba (ISPC), donde tengo la oportunidad de colaborar en equipo con mis compañeros en proyectos.</p>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center resumen-photo">   
                <img class="img-fluid resumen-photo__profile" src="../../../assets/images/resumen/profile.webp" alt="Foto Mariquena Allosa">   
        </div>

    </div>
    <div class="resumen_skills">
        <h3 class="resumen_title">Tecnologías</h3>
    </div>
</section>
