<div class="row">
  <div class="col-xs-11 containerfoto">
    <img
     src="../../../assets/jpg"
      alt="Foto de perfil"
      class="img-fluid fotodeperfil"
    />
  </div>
  <div
    class="col-xs-12 col-sm-3 col-md-3 col-lg-3 containerinfo datospersonales"
  >
    <p class="nombre"> persona[0].nombre  persona[0].apellido </p>
    <p> persona[0].titulo </p>
  </div>
  <div class="acercademi col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <!-- <span> -->
    <h1>Acerca de mí</h1>
    <p>
     persona.about 
    </p>
    <!-- </span> -->
  </div>
</div>
