.row {
    padding:20px;
}
div{
    background-color:#fff;
    color:#000;
    text-align: center;
}

.acercademi p{
    text-align: justify;
}
/* Nombre y trabajo */

.nombre {
    font-weight:bold;
    font-size:20px;
    margin-bottom: 0px;
}

/* Edit */
div.container-edit{
    display:flex;
    justify-content: flex-end;
    
}
button.edit{
    padding:4px;
}
div.container-edit img{
    width: 0.9rem;
}
.modal{
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* Estilo de la foto de perfil y nombre */
@media only screen and (min-width:576px){
    .fotodeperfil{
        background-color: #fff;
        padding:3px;
        position:absolute;
        width:200px;
        object-fit:cover;
        border-radius: 100%;
        /* box-shadow: 2px 6px 6px -4px rgba(95, 95, 95, 0.89); */
        left:2%;
        top: 350px;
       
}
     .datospersonales{
        position:relative;
        margin-top:70px;
        margin-left:25px;
        text-align: left;
     }
}





@media only screen and (max-width:575px){


    .fotodeperfil{
        background-color: #fff;
        padding:3px;
        margin:0 auto;
        width:250px;
        object-fit:cover;
        border-radius: 100%;
        /* box-shadow: 2px 6px 6px -4px rgba(95, 95, 95, 0.89);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%; */
       margin-top: -150px;
    }
    .container-edit{
        display:flex;
        flex-direction: row-reverse;
        align-items: flex-start ;

    }

}


/* MODAL */
.modal{
    background-color: transparent;
   
}
.modal-dialog{
    background-color:#3e5f68;
}

.modal-header{
	padding:6px 10px 2px 6px;
	background-color:#3e5f68;
	border:0px;
	height:50px;
}
.modal-header h4{
    font-size: 1rem;
    padding-top:10px;
    padding-left: 30px;
    color: #fff;
}
.modal-body{
    padding:30px 40px 20px 40px;

}
.modal-input{
	background-color:#fff;
	border:1px solid #3e5f68
}
.modal-footer{
	border-top:none;
	padding:20px 15px 10px 15px;
}